html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;  
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }


@font-face{
	font-family: "StarboardText" ;
	src: url("Starboard DEMO.otf");
}
@font-face{
	font-family: "Daily" ;
	src: url("Daily Challenge DEMO.otf");
}

#BodySection{
    background-color: rgb(226, 226, 226);
    /* -webkit-transform:scale(110%); */
    /* margin-top: 50px;
    margin-left: 20px ; */
}



#images{
    width: 100%;
	box-shadow: rgb(25, 26, 26) -1px 2px 3px 2px;
    margin: 0px auto 60px;

}



.Semestres{
    background-color: rgba(43, 111, 201, 0.26);
    font: bold 20px "Daily";
    width: 180px;
    padding: 10px;
    /* margin-left: 30px; */
    box-shadow: #063377a4 2px 2px 5px;
    user-select: none;
    text-align: center;
    -webkit-transition: ease 1s;

    /* border: 1px solid #111636; */
    /* -webkit-transform: scale(125%); */
}

.Semestres:hover{
    -webkit-transition: 0.5s;
    background-color: #051058bb;

}

li{
    margin: 30px;
    /* display: block; */

}   

.Documentos{
    /* width: fit-content; */
    margin: 50px 60px;
    font: bold 14px "Daily";
    color: rgb(4, 27, 95);

    
}



#Bloques-xxx{
    padding-top: 10px;
    height: 150px;
    /* border-bottom: 2px solid #051058bb  ; */
    /* text-align: center; */
}

#Content{
    margin: 0px 50px;
    width: fit-content;
    padding-right: 40px;
    border-right: 2px solid black ;
    float: left;
    /* -webkit-transform: scale(125%); */

}

#Archivos{
    font: bold 14px "Daily";
    float: none;

}

.Cortes{
    /* height: 60px; */
    width: 200px;
    float: left;
    font: bold 20px "Daily";
    margin: 10px 60px 90px;
    margin-bottom: 40px;

    user-select: none;
    text-align: center;
    padding: 5px;
    -webkit-transition: ease 0.5s;

    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #c3c7d373;
    -webkit-transform: scale(110%);

}

.Cortes:hover{
    -webkit-transition: 0.5s;
    background-color: rgb(137, 139, 145);
    
}



.focus-el {
    background-color: white;
}

.rojo{
    background-color: #051058bb;
    color: white;

    -webkit-transition: ease 0.5s;

}

.rojo:hover{
    background-color: #051058bb;
    color: white;
    -webkit-transition: ease 0.5s;


}


.cortepresionado{
    background-color: #3a3e5c;
    color: rgb(238, 235, 243);
    -webkit-transition: ease 0.5s;


}
.cortepresionado:hover{
    background-color: #3a3e5c;
    color: rgb(238, 235, 243);
    -webkit-transition: ease 0.5s;


}

#Carrusel{
    /* border-bottom: 2px solid #000000; */
    padding-top: 36px;
    height: 160px;
    background-color:rgb(214, 214, 214);
    margin-bottom: 60px;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.CarrerasCarrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    float:left;
    position: relative;
    font: bold 23px "StarboardText";
    /* color: #00B3FF; */
    /* margin: 10px; */
    text-align: center;
    margin-right:center;
    width: 300px;
    height: 80px;

    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    user-select: none;
    background-color: #FFFFFF;
    /* border: 0.5px solid #171919; */
    
    border-radius: 8px;
    -webkit-transition: ease 1s;
    /* border: 2px solid rgb(126, 91, 91); */
    /* border-radius: 8px; */
    
}

.CarrerasCarrusel:hover{
    -webkit-transition: ease 1s;
}

.izquierda{
    color: #00000083;
    box-shadow: rgba(0, 0, 0, 0.397) 1px 1px 2px;

    background-color: #ffffff83;
}

.izquierda:hover{
    background-color: #3a3e5c81;
    color: #0510584b;
}

.Derecha{
    color: #00000083;
    box-shadow: rgba(0, 0, 0, 0.322) 1px 1px 2px;
    background-color: #FFFFFF83;
    /* margin: 90px; */

}

.Derecha:hover{
    background-color: #3a3e5c81;
    color: #0510584b;
}


.Centro{
    -webkit-transform: scale(123%);
    box-shadow: #175b82 3px 3px 6px;
    /* -webkit-transition: ease 1s; */
}

.Centro:hover{
    /* transition-delay: 0.3s; */
    transition-duration: 1.3s;
    color: #FFFFFF;
    background-color: #3a3e5c;
    /* -webkit-transition-delay: ease 2s; */
    

	background: -webkit-repeating-radial-gradient(right, #049DD9, #023059);
    background-color: #509cdf88;

    box-shadow: #174582 3px 3px 6px;
    
}


#FlechaLeft{
    font: bold 30px "Daily";
    color: rgba(0, 0, 0, 0.432);
    user-select: none;
    position: absolute;
    left: 20px;
    top: 400px;
    
}

#FlechaRight{
    user-select: none;
    font: bold 30px "Daily";
    color: rgba(0, 0, 0, 0.432);
    position: absolute;
    left: 1300px;
    top: 400px;
}
#invisible{
    color: rgba(255, 255, 255, 0);
}
@keyframes mianimacion{
    0%{color:rgba(0, 0, 0, 0);}
    100%{color:#000;}
}

#MateriasCarrera{
    text-align: center;

    
    color:rgb(0, 0, 0);
    font: bold 20px "StarboardText";
    background-color: red;
    width: 300px;
    max-width:300px ;
    height: 0px;
    position: absolute;
    top: 440px;
    left: 520px;



}
.MateriaInterna{
    padding-top:4px ;
    padding-bottom:4px ;

}
.Aparecer{
    animation-name: mianimacion;
	animation-duration: 3s;
	animation-timing-function: linear;
    
}