html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;  
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }


@font-face{
	font-family: "StarboardText" ;
	src: url("Starboard DEMO.otf");
}

#BodySection{
    background-color: rgb(226, 226, 226);
    /* -webkit-transform:scale(110%); */
    /* margin-top: 50px;
    margin-left: 20px ; */
}



#images{
    width: 100%;
	box-shadow: rgb(25, 26, 26) -1px 2px 3px 2px;
    margin: 0px auto 60px;

}



.Semestres{
    background-color: rgba(43, 111, 201, 0.26);
    font: bold 20px "StarboardText";
    width: 180px;
    padding: 10px;
    /* margin-left: 30px; */
    box-shadow: #063377a4 2px 2px 5px;
    user-select: none;
    text-align: center;
    -webkit-transition: ease 1s;

    /* border: 1px solid #111636; */
    /* -webkit-transform: scale(125%); */
}

.Semestres:hover{
    -webkit-transition: 0.5s;
    background-color: #051058bb;

}

li{
    margin: 30px;
    /* display: block; */

}   

.Documentos{
    /* width: fit-content; */
    margin: 50px 60px;
    font: bold 14px "StarboardText";
    color: rgb(4, 27, 95);

    
}



#Bloques-xxx{
    height: 150px;
    /* border-bottom: 2px solid #051058bb  ; */
    /* text-align: center; */
}

#Content{
    margin: 0px 50px;
    width: fit-content;
    padding-right: 40px;
    border-right: 2px solid black ;
    float: left;
    /* -webkit-transform: scale(125%); */

}

#Archivos{
    font: bold 14px "StarboardText";
    float: none;

}

.Cortes{
    /* height: 60px; */
    width: 200px;
    float: left;
    font: bold 20px "StarboardText";
    margin: 10px 60px 90px;
    margin-bottom: 40px;

    user-select: none;
    text-align: center;
    padding: 5px;
    -webkit-transition: ease 0.5s;

    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #c3c7d373;
    -webkit-transform: scale(110%);

}

.Cortes:hover{
    -webkit-transition: 0.5s;
    background-color: rgb(137, 139, 145);
    
}



.focus-el {
    background-color: white;
}

.rojo{
    background-color: #06188bbb;
    -webkit-transition: ease 0.5s;

}

.rojo:hover{
    background-color: #06188bbb;
    -webkit-transition: ease 0.5s;


}


.cortepresionado{
    background-color: #3a3e5c;
    color: rgb(238, 235, 243);
    -webkit-transition: ease 0.5s;


}
.cortepresionado:hover{
    background-color: #3a3e5c;
    color: rgb(238, 235, 243);
    -webkit-transition: ease 0.5s;


}

#Carrusel{
    /* border-bottom: 2px solid #000000; */
    height: 160px;
}

.CarrerasCarrusel{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    float:left;
    position: relative;
    font: bold 25px "StarboardText";
    /* color: #00B3FF; */
    /* margin: 10px; */
    text-align: center;
    margin-right:center;
    width: 300px;
    height: 80px;

    padding: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    user-select: none;
    background-color: #FFFFFF;
    /* border: 0.5px solid #171919; */
    
    border-radius: 8px;
    -webkit-transition: ease 1s;
    /* border: 2px solid rgb(126, 91, 91); */
    /* border-radius: 8px; */
    
}

.CarrerasCarrusel:hover{
    -webkit-transition: ease 1s;
    background-color: #3a3e5c;
    color: #051058bb;
}
