html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;  
    font-size: 100%;
    font-weight: normal;
   }
   table { border-collapse: collapse; border-spacing: 0; }
   td, th, caption { font-weight: normal; text-align: left; }
   img, fieldset { border: 0; }
   ol { padding-left: 1.4em; list-style: decimal; }
   ul { padding-left: 1.4em; list-style:square; }
   q:before, q:after { content:''; }


@font-face{
	font-family: "StarboardText" ;
	src: url("Starboard DEMO.otf");
}


#Title{
    font: bold 35px "StarboardText";

}

#Escuelas{
    /* margin: 25px 10px 20px; */
    margin-left: 25px;
}

a{
    color: black;
}
#main{
    text-align: left;
    width: 100%;
    /* margin: 25px 10px 20px; */
    /* border-bottom: 2px solid #051058; */
}

#inicial{
    width: 100%;
    margin: 0%;
    padding: 0%;
}

#images{
    width: 100%;
    
	box-shadow: rgb(25, 26, 26) -1px 2px 3px 2px;
    margin: -40px auto 40px;

}

#cuerpo{
    background-color: rgb(226, 226, 226);
}

#Subtitle{
    /* text-align: left; */
    /* padding: 900px auto 15px; */
    /* border-bottom: 2px solid #000; */
    font: bold 20px "StarboardText";
    color: #07125c;

}

#Cuadrados{
    font: bold 20px "StarboardText";
    margin: 10px 10px 500px;
    user-select:none;
    border-top: 2px solid #051058;
    padding-top: 5px;
    padding-left: 20px;
}


@keyframes mianimacion{

    0%{border: 2px solid #20053d;}
    25%{border: 2px solid rgb(31, 59, 216);}
    50%{border: 2px solid rgb(11, 12, 73);}
    65%{border: 2px solid rgb(18, 132, 167);}
    100%{border: 2px solid #20053d;}
    
}
.cubo-xxx{
    text-align: center;
    margin: 10px 20px 50px;
    display: block;
    padding: 10px;
    border: 2px solid #051058;
    float:left;
    width: 150px;
    height: 50px;

    -webkit-transform: scale(100%);
	-webkit-transition: 0.2s ease;
    box-shadow: #175b82 3px 3px 6px;
    background-color: hsla(0, 0%, 95%, 0.583);
}
.cubo-xxx:hover{
    -webkit-transform: scale(110%);
    box-shadow: #063377a4 5px 5px 10px;
    background-color: rgb(221, 221, 221);
    color: rgb(7, 38, 65);
    -webkit-transition: 0.5s ease;
    animation-name: mianimacion;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
    

}


